/* reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên cuống dưới
3. Từ tổng quan đến chi tiết
*/
/* 
1. Vị trí
2. Kích thước
3. Màu Sắc
4. Kiểu dáng(kiểu chữ, hình tròn, hình vuông,...)
*/
.clear{
    clear: both;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    overflow: hidden;
}
#header{
    width: 100%;
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* overflow: hidden; */
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;}
#nav > li >a{

    text-transform: uppercase;
    position: relative;
}

#nav li{
    list-style-type: none;
}

#nav li a{
    line-height: 46.5px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover a{
        color: #000;
        background-color: #ccc;
}
#nav li:hover ul {
    display: block;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li a{
    color: black;
    background-color: #fff;
    display: block;
    padding: 0 16px;
    line-height: 38.5px;
    min-width: 160px;
}

#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search{
    float: right;
    line-height: 46.5px;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    color:#000;

}
#header .search:hover{
    background-color: #f44336;
    color:#fff;
    cursor: pointer;
}
#header .menu-icon,
#header .search-button{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assest/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
    /* min-width: 768px; */
    /* margin-right: -9px; */
    
}
#slider .text-content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 32px;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}

#slider .text-heading{
    margin-bottom: 25px;
}

#content{

}
#content .content-section{
    width:800px;
    max-width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left:auto;
    padding:64px 0px;
    padding-left: 16px;  
    padding-right:16px ;

}
#content .section-heading{
    margin:10px 0px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-subheading{
    text-align: center;
    margin:15px 0px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-content{
    text-align: justify;
    line-height: 1.4;
}
#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;

}
#content .member-list{
    margin-top: 48px;
}
#content .member-name{

    font-size: 15px;
    margin: 15px 0px;
}
#content .member-img{
    width: 154px;
    border-radius: 4px;
}
#content .tour-section{
    background-color: #000;
}
.text-while{
    color: #fff;
}
.tour-section .ticket-list{
    background-color: #fff;
    margin-top: 40px;
}
.ticket-list li{
    padding: 11px 16px;
    color: #757575;
    font-size: 15px;
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 8px;

}
.ticket-list .quality{
    float: right;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #000;
    border-radius: 50%;
    margin-top: -3px;
}
/* places */
.place-tickets{
     /* margin: 32px 0;
     margin-left: -8px ;
     margin-right: -8px; */
     margin: 32px -8px 0;
     padding-bottom: 32px;
}
.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    font-size: 15px;

    font-family: "Lato", sans-serif;
}
.place-img{
    width: 100%;
    display: block;
    border-radius: 2%;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 0 16px;
    background-color: #fff;
}
.place-heading{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 550;
    
}
.place-time{
    margin: 15px 0;
    
    opacity: 0.6;
}
.place-decr{
    margin: 15px 0;
    line-height: 1.4;
}
.place-buy-tick{
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    border: none;
}

.place-buy-tick:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;

}
/* contact */
.content-section{
    margin: 0 118px;
    padding:64px 16px;
}
.contact{
    width: 50%;
    display: inline-block;
    font-size: 18px;
    line-height: 1.7;
}
.intro{
    display: inline-block;
    
}
.name,.email{
    display: inline-block;
    width:184px ;
    border: 1px solid #ccc;
    padding: 10px;   
}
.name{
    margin-right: 16px;
}
.Message{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top:8px ;
    display: block;
    width: 100%;
    font-size: 15px;
}
.send{
    float: right;
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border-style: none;
}
.send:hover{
    background-color: #ccc;
    color: #000;
}


.map img{
    width: 100%;
    filter: grayscale(50%);
}
.iconlink{
    padding: 64px 16px;
    text-align: center;
}

.fa{
    font-size: 20px;
    opacity: 0.7;
}
.fa:hover{
    opacity: 0.5;
}
.link{
    opacity: 0.6;
    margin: 15px 0;
}
a.link1{
    color: #000;
}

/* modal  */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    /* z-index: 2; */
    display: none;
    align-items: center;
    justify-content: center;

}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    animation: modalFaceIn ease 0.4s;
    
}
/* container header  */
.container-header{
    background-color: #009688;
    position: relative;
}
.button-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    color: #fff;
    font-size: 21px;
 
}
.iconbag{
    margin-right: 10px;
    display: inline-block;
}
.button-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal-heading-title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 47px;
}
/* container boby  */
.container-body{
    padding: 0 16px 
}
.container-body label{
    display: block;
    font-size: 15px;
    margin: 15px 0;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom:10px ;
}
.button-pay{
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    font-style:inherit;
    font-size: 15px;
    padding: 16px;
    margin: 16px 0;
  
}
.button-pay:hover{
    cursor: pointer;
    opacity: 0.8;
}
/* container footer  */
.container-footer{
    padding: 0 16px;
}
.footer-close{
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #f44336;
    display: inline-block;
    color: #fff;
    font-size: 15px;
}
.footer-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.need-help{
    float: right;
    margin: 15px 0;
}
.need-help a{
    color: #2196F3;
}
@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media(max)